<div class="content">
  <main>
    <h1>TODO App</h1>
    <section>
      <todo-create (create)="create($event)" />
    </section>
    <section class="list" fxLayout="column" fxLayoutAlign="start stretch">
      <mat-card class="card">
        <mat-card-header>Todos</mat-card-header>
        <mat-card-content>
          <todo-list
            [todos]="todosState().item | completed : false"
            (updateCompleted)="changeCompleted($event)"
          />
        </mat-card-content>
      </mat-card>
      <mat-card class="card">
        <mat-card-header>Todos Done</mat-card-header>
        <mat-card-content>
          <todo-list
            [todos]="todosState().item | completed : true"
            (updateCompleted)="changeCompleted($event)"
          />
        </mat-card-content>
      </mat-card>
    </section>
  </main>
</div>
