<ng-container *ngIf="counterState$ | async as counterState">
  <mat-card class="demo-card">
    <mat-card-header>
      <mat-card-title>Loading-Store</mat-card-title>
      <mat-card-subtitle>Basic</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="counterState.isLoading; else content">
        <mat-spinner color="warn"></mat-spinner>
      </ng-container>
      <ng-template #content>
        <h2>{{ counterState.item?.counter }}</h2>
      </ng-template>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="increment()" mat-fab> +</button>
    </mat-card-actions>
  </mat-card>

</ng-container>
