<nav>
  <mat-toolbar>
    <button [matMenuTriggerFor]="menuComponentStore" mat-button>Component-Store</button>
    <mat-menu #menuComponentStore="matMenu">
      <a mat-menu-item routerLink="/">Basic Example</a>
      <a mat-menu-item routerLink="/custom-action">Custom Action Example</a>
      <a mat-menu-item routerLink="/storage-from-global-service">Root Storage</a>
      <a mat-menu-item routerLink="/multiple-storage-instances">Multiple Storage instances (Provided in Component)</a>
      <a mat-menu-item routerLink="/storage-from-service">Storage from Service (Provided in Module)</a>
      <a mat-menu-item routerLink="/share-actions">Share Actions with @ngrx/Effects</a>
      <a mat-menu-item routerLink="/storage">Sync with Storage</a>
    </mat-menu>

    <button [matMenuTriggerFor]="menuLoadingComponentStore" mat-button>Loading-Component-Store</button>
    <mat-menu #menuLoadingComponentStore="matMenu">
      <a mat-menu-item routerLink="/loading-basic">Basic</a>
      <a mat-menu-item routerLink="/loading-with-default-values">Loading with default values</a>
    </mat-menu>
    <button [matMenuTriggerFor]="menuFormsComponentStore" mat-button>Forms-Component-Store</button>
    <mat-menu #menuFormsComponentStore="matMenu">
      <a mat-menu-item routerLink="/persist-form">Basic</a>

    </mat-menu>
  </mat-toolbar>
</nav>
<main class="content">
  <router-outlet></router-outlet>
</main>

