/* Add application styles & imports to this file! */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.demo-card {
  max-width: 400px;
}
.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
