/* Add application styles & imports to this file! */


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
